@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "league spartan";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 15px;
}
.top-container{
  display: flex;
  justify-content: space-between;
}
.main-info p{
  color: hsl(303, 10%, 53%);
  width: 380px;
  font-weight: 500;
  margin: 1.5rem 0 1rem 0;
  line-height: 1.2rem;
}
h1{
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 3rem;
  width: 350px;
  margin-bottom: 1rem;
}
.star-section{
  padding: .5rem;
  padding-right: 0;
}
.star-section .rate-container{
  margin: 1rem;
}
.bottom-container{
  display: flex;
  margin-top: 2rem;
}
.bottom-container .card{
  margin: 1rem;
}

@media only screen and (max-width: 960px) {
  body{
    height: auto;
  }
  .top-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .bottom-container{
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 460px) {
  h1{
    margin-left: 1rem;
  }
  .rate-container{
    flex-direction: column;
    font-size: 1.2rem;
  }
  .rate-container p{
    margin-top: .5rem;
  }
  .main-info p{
    padding: 0 .9rem 0 .9rem;
    font-size: 1.1rem;
    word-spacing: .2rem;
  }
  .star-section{
    padding: 0;
  }
}

@media only screen and (min-width: 961px) {
  .main-info{
    width: 50%;
  }
  .rate-container:nth-child(1){
    position: relative;
    right: 100px;
  }
  .rate-container:nth-child(2){
    position: relative;
    right: 50px;
  }
  .card:nth-child(1){
    margin-left: 0;
  }
  .card:nth-child(2){
    position: relative;
    top: 1rem;
  }
  .card:nth-child(3){
    position: relative;
    top: 2rem;
  }
}
